<div class="play_page">
	<nav class="pull-right">
      <ul class="pagination">
        <li class="disabled"><a href="javascript:void(0);" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
        #{list items:1.._pagecount, as:'i'}
        #{if _currentpage == i}
        <li class="active"><a href="javascript:void(0);">${i} <span class="sr-only">(current)</span></a></li>
        #{/if}
		#{else}
        <li><a href="javascript:void(0);">${i}</a></li>
        #{/else}
        #{/list}
        <li><a href="javascript:void(0);" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
     </ul>
   </nav>
</div>