#{extends 'common.html' /}
#{set 'moreCss'}
	<link rel="stylesheet" href="@{'/public/css/ailinxi-style.css'}" />
	<link rel="stylesheet" href="@{'/public/css/ailinxi-media.css'}" />
	<link rel="stylesheet" href="@{'/public/css/bootstrap-modal.css'}" />
	<link rel="stylesheet" href="@{'/public/css/bootstrap-modal-bs3patch.css'}" />
#{/set}
#{set 'moreJs'}
    <script src="@{'/public/js/bootstrap-modal.js'}"></script>
	<script src="@{'/public/js/bootstrap-modalmanager.js'}"></script>
	<script src="@{'/public/js/common.js'}"></script>
#{/set}
<!--Header-part-->
<div id="header">
  <h1><a href="/admin/index">艾林夕杂货店</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" >
      <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
      <i class="icon icon-user"></i>  <span class="text">欢迎 ${userName}</span><b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> 修改信息</a></li>
        <li class="divider"></li>
        <li><a href="/admin/logout"><i class="icon-key"></i> 退出</a></li>
      </ul>
    </li>
    <li class=""><a href="/admin/logout"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
  </ul>
</div>
<!--sidebar-menu-->
<div id="sidebar">
  <ul id="bigMenuUl">
    <li class="active"><a href="javascript:void(0);" class="urlLink"><i class="icon icon-home"></i> <span>首页</span></a> </li>
    <li><a href="javascript:void(0);" class="urlLink" data-url="/admin/users"><i class="icon icon-user"></i> <span>用户列表</span></a> </li>
    <li><a href="javascript:void(0);" class="urlLink"><i class="icon icon-signal"></i> <span>图表统计</span></a> </li>
    <li class="submenu"> <a href="javascript:void(0);" class="menuLink"><i class="icon icon-th-list"></i> <span>表单</span> </a>
      <ul>
        <li><a href="javascript:void(0);" class="urlLink" data-url="/admin/users">基本表单</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--sidebar-menu-->

<div id="content">
  <!--当前位置-->
  <div id="content-header">
    <div id="breadcrumb"> 
    <a href="/admin/index" title="后台首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
    </div>
  </div>
  <div class="container-fluid" id="content-body">
  </div>
</div>

<!--页脚-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2015 @ 艾林夕的杂货铺 </div>
</div>
