<div class="row-fluid">
	<table class="table table-bordered table-striped with-check">
		<thead>
			<tr>
				<th><input type="checkbox" id="title-table-checkbox"
					name="title-table-checkbox" /></th>
				<th>用户名</th>
				<th>邮箱</th>
				<th>注册日期</th>
				<th>最后登陆时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center"><input type="checkbox" /></td>
				<td class="text-center">admin</td>
				<td class="text-center">ahern88@163.com</td>
				<td class="text-center">2015-05-10</td>
				<td class="text-center">2015-05-10 01:03</td>
				<td>
					<div class="dropdown text-center">
						<a title="" href="#" data-toggle="dropdown" class="dropdown-toggle">
							<i class="icon icon-asterisk"></i> <span class="text">操作</span><b
							class="caret"></b>
						</a>
						<ul class="dropdown-menu text-left">
							<li><a href="#"><i class="icon-edit"></i> 编辑</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon-remove"></i> 删除</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>