body {
	background-color: #1d2024;
}
#loginPanel .panel{
	width: 400px;
	margin: 100px auto;
	background: #ffffff;
	border-radius:2px;
	box-sizing:border-box;
	padding: 5px 15px;
}
#loginPanel .login-title {
	line-height: 40px;
	height: 40px;
	font-weight: bolder;
	color: #006dcc;
	font-size: 16px;
	border-bottom: #f1f1f1 1px solid;
	margin-bottom: 10px;
}
#loginPanel .btn, #loginPanel input{
	width: 100%;
	height: 30px;
	box-sizing:border-box;
	border-radius:2px;
}
#loginPanel label {
	font-weight: bolder;
}
.pagination {
	margin: 0px;
}
